body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b4edf3;
    color: #fff;
}
h1{
    padding-top: 5vw;
    text-align: center;
    color: #000000;
}
form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    border-radius:50% ;
}


li {
    margin: 10px 0;
}
a{
    background-color: #1f8e15;
    color: #fff;
    border:3px solid #ffffff00;
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 4px;
    text-decoration: none;
    margin: 30vh 42vw 0px 42vw;

}

a:hover{
    border: 3px solid #ffffff;
    background-color: #86ce80;
    border-radius: 4px;
}
a:active{
    background-color: #12460d;
}

button{
    background-color: #007BFF;
    color: #fff;
    border:3px solid #ffffff00;
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 4px;
}

button:hover{
    border: 3px solid #ffffff;
    background-color: #67b0ff;
    border-radius: 4px;
}
button:active{
    background-color: #054283;
}
input{
    margin-left: 5vh;
    height: 2vw;
    width: 40vh;
    border: 3px solid #888888;
    border-radius: 5px;
    margin-bottom: 3vh;
}
.info {
    background-color: #000000 ;
    border-radius: 10px;
    margin:0px 40vh 0px 40vh ;
}
.info p{
    padding: 35px 0px;
    text-align: center;
}